h1 {color: #2f3e54;
    text-align: center}
    h2 {color: #2f3e54}
    h3 {color: #2f3e54}

header {
    display: inline;
    vertical-align: center;
}

@media screen and (min-width: 760px) {
    img {
        width: 100%;
    }
    .grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "picture education"
        "hobby hobby"
        "video video"
        "resume resume";
    }
.picture {
    grid-area: picture;
    padding-top: 20px;
    }
.education {
    grid-area: education;
    }
.hobby {
    grid-area: hobby;
    }
.video {
    grid-area: video;
    justify-self: center;
    }
.resume {
    grid-area: resume;
    justify-self: center;
    }
}
@media screen and (max-width: 500px) {
    .grid {
        font-size: large;
    }
    header {
        font-size: smaller;
    }
    img {
        size: auto;
        padding-left: 60px;
        padding-right: 60px;
    }
    .video {
        grid-area: video;
        justify-self: center;
        }
    .resume {
        grid-area: resume;
        justify-self: center;
        }
    p {
        font-size: x-large;
    }
}

