h1 {color: #2f3e54;
    text-align: center}
    h2 {color: #2f3e54}
    h3 {color: #2f3e54}

header {
    display: inline;
    vertical-align: center;
}
div p {
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (min-width: 760px) {
    img {
        width: 100%;
        text-align: center;
    }
    .grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "picture item1"
        "item2 item2"
        "video video"
        "resume resume";
    }
.picture {
    grid-area: picture;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    }
.item1 {
    grid-area: item1;
    padding-right: 20px;
    }
.item2 {
    grid-area: item2;
    padding-left: 20px;
    padding-right: 20px;
    }
.video {
    grid-area: video;
    justify-self: center;
    }
.resume {
    grid-area: resume;
    justify-self: center;
    }
}
@media screen and (max-width: 500px) {
    .grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "picture"
            "item1"
            "item2"
            "video"
            "resume";
        font-size: larger;
    }
    .picture {
        grid-area: picture;
        justify-self: center;

    }
    header {
        font-size: smaller;
    }
    img {
        width: 100%;
 
    }
    .video {
        grid-area: video;
        justify-self: center;
        }
    .resume {
        grid-area: resume;
        justify-self: center;
        }
    p {
        font-size: larger;
        padding: 10px 10px;
    }

}

