h1 {color: #2f3e54;
    text-align: center
}
h2 {color: #2f3e54}
h3 {color: #2f3e54}

@font-face { 
    font-family: berkshire;   
    src: url(Fonts/berkshireswashregular.ttf); 
}
blockquote {font-family: berkshire, serif; 
    }

h1 {font-family: berkshire, serif;}

header {
    display: inline;
    vertical-align: center;
     }

div p {
    padding-left: 20px;
    padding-right: 20px;
}
.hangingindent {
    padding-left: 40px ;
    text-indent: -22px ;
}
footer {
    color: white;
}
footer a {
    color: #FFCF13;
}
footer img {
    color: white;
}
@media screen and (min-width: 760px) {
    img {
        max-width: 100%;
        text-align: center;
        padding-right: 10px;
    }
    .grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
        "picture item1"
        "item2 item2"
        "item3 item3"
        "item4 item4";
    }
.picture {
    grid-area: picture;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    }
.item1 {
    grid-area: item1;
    padding-right: 20px;
    }
.item2 {
    grid-area: item2;
    padding-left: 20px;
    padding-right: 20px;
    }
.item3 {
    grid-area: item3;
    justify-self: center;
    }
.item4 {
    grid-area: item4;
    justify-self: center;
    }
}
@media screen and (max-width: 759px) {
    .grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "picture"
            "item1"
            "item2"
            "item3"
            "item4";
        font-size: larger;
    }
    .picture {
        grid-area: picture;
        justify-self: center;

    }
    header {
        font-size: smaller;
    }
    img {
        max-width: 100%;
 
    }
    .item3 {
        grid-area: item3;
        justify-self: center;
        }
    .item4 {
        grid-area: item4;
        justify-self: center;
        }
    p {
        font-size: larger;
        padding: 10px 10px;
    }

}

@media print {
* {
    background: transparent !important;
    color: black !important;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: none !important;
    text-shadow: none !important;
}
    nav,
    .item3,
    .item4,
    img {
        display: none;
}
h1 {
    font-size: 30pt;
    line-height: 30pt;
    margin: 0;
  }
  
  h2,h3,h4,h5,h6 {
    font-size: 20pt;
    line-height: 30pt;
    margin: 0;
  }

@page {
    margin: 1in;
}
}
.box {
    width: 100%;
    height: 100%;
    background-image: url(blue.jpg);
    padding: 0;
    margin: 0;
    background-size: cover;
  }